.contentWrapper{
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.questionWrapper{
  width:35%;
  border: 1px solid black;
  height: 80%;
}

.radioWrapper{
  width:20%;
  border: 1px solid red;
  height: 80%;
}

.featureWrapper{
  width: 45%;
  border: 1px solid salmon;
  height: 80%;
}

.buttonWrapper{
  width: 100%;
  margin-top: 0.5%;
  height: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid red; 
}